body {
    margin: 0;
}

section {
    width: 100vw;
    height: 100vh;
}

#variance {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#left_side {
    float: left;
    background-color: rgb(238, 209, 25);
}

#right_side {
    float: right;
    background-color: rgb(182, 24, 24);
}

#left_side,
#right_side {
    height: 100%;
    width: 50%;
    transition: all 0.4s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
    transition: all 0.4s ease;
}

#left_side:hover {
    opacity: 0.9;
}

#left_side:hover p {
    font-size: 2em;
}

#right_side:hover {
    opacity: 0.9;
}

#right_side:hover p {
    font-size: 2em;
}

.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 300ms;
    -webkit-animation-timing-function: ease-in-out;

    -moz-animation-name: spin;
    -moz-animation-duration: 300ms;
    -moz-animation-timing-function: ease-in-out;

    -ms-animation-name: spin;
    -ms-animation-duration: 300ms;
    -ms-animation-timing-function: ease-in-out;

    -o-animation-name: spin;
    -o-animation-duration: 300ms;
    -o-animation-timing-function: ease-in-out;

    animation-name: spin;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

#interface_container_outer {
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: flex-end;
    justify-content: center;
}

#interface_container_inner {
    max-width: 25%;
    min-height: 100px;
    z-index: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

#interface_container_inner input {
    width: 100%;
}

#left_side_params {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

#right_side_params {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}

#interface_buttons {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#interface_left_side {
    width: 40%;
}

#interface_right_side {
    width: 40%;
}

#interface_reset {
    width: 20%;
}

#user_input {
    height: 40%;
}